@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: #C4D1CA;
    font-family: Arial, Helvetica, sans-serif;
}

h1#principal {
     color: #E79160;   
     text-align: center;
}

h1 {
    color: #8CA07D;
}

h2 {
    color: #c59d54;
}